<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-list-header>Interface Options</ion-list-header>
        <ion-item>
            <ion-label> {{testamentVersion}} Testament</ion-label>
            <ion-toggle checked={{testamentTrigger}} color="primary" (ionChange)="testamentChange($event)"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Book</ion-label>
            <ion-select interface="popover" multiple="false" value="{{bibleBooks[0].value}}"
                        (ionChange)="bookChange($event)">
                <ion-select-option *ngFor="let element of bibleBooks" value={{element.value}}>{{element.book}}
                </ion-select-option>
            </ion-select>
        </ion-item>

            <!--<ion-item>-->
                <!--<ion-label>Chapter</ion-label>-->
                <!--<ion-select interface="popover" multiple="false" value="{{numberOfChapters[0].value}}"-->
                <!--&gt;-->
                    <!--<ion-select-option *ngFor="let chapter of numberOfChapters" value={{chapter.value}}>{{chapter.value}}-->
                    <!--</ion-select-option>-->
                <!--</ion-select>-->
            <!--</ion-item>-->
            <ion-item>
                <ion-label>Verse</ion-label>
                <ion-select interface="popover" multiple="false" value="1">
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                </ion-select>
            </ion-item>


    </ion-list>

    <h3> Number of chapters = {{placeholer}}</h3>

</ion-content>
